# Flutter
/frontend/.dart_tool/
/frontend/.idea/
/frontend/.packages
/frontend/build/
/frontend/pubspec.lock

# Python
/backend/__pycache__/
/backend/*.pyc
/backend/env/
/backend/venv/
/backend/.env

# System
.DS_Store
*.log
